/.idea/
/Exercícios e Materias TP/
/.vscode/
/output/
/PROJETO_PRÁTICO/main
/PROJETO_PRÁTICO/md5
/PROJETO_PRÁTICO/linked_lists
/PROJETO_PRÁTICO/database_helper
/PROJETO_PRÁTICO/functions
/PROJETO_PRÁTICO/testes
/PROJETO_PRÁTICO/testes2
/PROJETO_PRÁTICO/none.txt
/PROJETO_PRÁTICO/assets/*.log
